
.vs/SRALI/config/applicationhost.config
.vs/SRALI/v16/Server/sqlite3/db.lock
.vs/SRALI/v16/Server/sqlite3/storage.ide
.vs/SRALI/v16/Server/sqlite3/storage.ide-shm
.vs/SRALI/v16/Server/sqlite3/storage.ide-wal
SRALI/obj/Debug/SRALI.csprojAssemblyReference.cache
SRALI/obj/Debug/SRALI.csprojAssemblyReference.cache
SRALI/obj/Debug/SRALI.csprojAssemblyReference.cache
*.cache
SRALI/obj/Debug/SRALI.csprojAssemblyReference.cache
.vs/SRALI/v16/.suo
