<!-- page content -->
<div class="page-title">
    <div class="title_left">
        <h3>Bienvenido @ViewBag.Usuario</h3>
    </div>
    <div class="title_right">
        <div class="col-md-5 col-sm-5  form-group pull-right top_search">
        </div>
    </div>
</div>


<div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Sistema de Registro Academico</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="col-md-6 col-sm-6 " style="border:0px solid #e5e5e5;">

                        <h3 class="prod_title">Liceo Integral Manuel Farfan Castro & Kinder Plaza Sésamo</h3>
                        <br />
                        <br />


                        <p class="text-justify">

                            ¿No sabéis que los que corren en el estadio, todos a la verdad corren, pero uno solo se lleva el premio? Corred de tal manera que lo obtengáis.

                            <br />
                        </p>
                        <p class="text-right">
                            1 Corintios 9:24
                        </p>


                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="product-image">
                            <img src="~/Content/images/li_trasparente.png" alt="..." />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Actividades de este día</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
                        @*<h3 class="prod_title">Actividades de este día</h3>*@
                        <p class="text-justify">
                            No hay actividades para este día
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4 col-sm-4 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Próximos eventos</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
                        <p class="text-justify">
                            No hay eventos Próximos en agenda
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-4 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Alertas del Sistema</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="dashboard-widget-content">
                        <p class="text-justify">
                            No tiene alertas del sistema
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
